<!doctype html>
<html>
    <head>
        <title>Microblog</title>
    </head>
    <body>
        <h1>Site Listing</h1>
        <ul>
            <li><a href="/index_helloworld">01 - Hello World</a></li>
            <li><a href="/index_conditionals">02 - Conditionals</a></li>
            <li><a href="/index_loops">03 - Loops</a></li>
            <li><a href="/index_inheritance">04 - Template Inheritance</a></li>
        </ul>
    </body>
</html>
<style>
    li { font-size: 18px; }
</style>